{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Django Ecommerce...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
Django Ecommerce Limited is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.
<br/><br/>
Django Ecommerce was founded in October 2007 in Bangalore by Mr.S and Mr.B, alumni of the IIT, Delhi and former Amazon employees. The company was started from a two-bedroom apartment in Kormangala, Bengaluru. The initial investment was provided by their families, which was INR 2 Lakh from each family. The website was kicked off in October 2007 and the company was only limited to selling books at that time country-wide shipping. Django Ecommerce slowly grew in prominence and was receiving 100 orders per day by 2008.
<br/><br/>
Django Ecommerce acquired WeRead in 2010 from Lulu.com that helped it build its foundational strength which was the digital retail of books. This space was otherwise only shared by very limited number of players at that time in the market, such as Landmark and Infibeam. Django Ecommerce used aggressive discounts and focused on customer service to move towards a leadership position in the market. WeRead consisted of a large network of readers (~3 Million) with around 60 million books. The platform also noted information that was user generated – such as people marking a book as favorite or leaving a review or rating. WeRead, because of its utility to community and independent nature maintained its brand identity even after acquisition.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}