<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .container1 {
  width:800px
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:200px;
	max-height:300px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:10px 5px 15px 20px;
	background:rgba(40,57,101,.9);

}
</style>
<!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-6 fw-bolder">Reset Password</h3><p id="blink">Input Your Correct User Name to Reset Your Password that You Forgot.</p>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
<body>
<div class="container1">
<div class="login-wrap">
	<div class="login-html">
		<strong>
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">&nbsp;&nbsp;Reset Password</label>
		</strong>
<!--		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<a href="{% url 'register_sidemenu' %}" class="sign-up">Sign Up </a>   -->

		<div class="login-form">
			<div class="sign-in-htm">
			  <form method="POST" action="{% url 'forget_password' %}">
    			{% csrf_token %}
				<div class="group">
				<br>
					<strong>
					<label for="user" class="label text-white">User Name</label>
					<input id="user" type="text" class="input" name="username" placeholder="UserName">
					</strong>
				</div>
				  <br>
				<div class="group">
					<input type="submit" class="btn btn-primary" value="Reset Password">
				</div>
			  </form>
				<div class="hr"></div>
				<div class="foot-lnk text-white">
					<label for="tab-1">Password Reset Link will be sent to the Registered Email Id.</label>
				</div>
            </div>
		</div>
	</div>
</div>
</div>
</body>
{% endblock %}