<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .container1 {
  width:800px
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:600px;
	max-height:1200px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:10px 5px 15px 20px;
	background:rgba(40,57,101,.9);
	overflow-y:scroll;
}
</style>
<!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-7 fw-bolder">Login</h3>
                    <p class="lead fw-normal text-white-50 mb-0">Log In To Your Account...</p>
                </div>
            </div>
        </header>

        <div class="container1">
        	<div class="row">
        		<center>
        			<div class="col-md-8 offset-md-0">

        				<br/>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

  <div class="mb-3">

    <input type="text" class="form-control" name="username" placeholder="Enter Your Username">

  </div>
  <div class="mb-3">

    <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
  </div>
  <br/><br/>
  <button type="submit" class="btn btn-outline-primary">Login</button>
</form>
 <a href="{% url 'password_reset' %}" > Forgot Password.</a>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}