<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .container1 {
  width:800px
}
</style>
<!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-7 fw-bolder">Password Reset</h3>
                    <p class="lead fw-normal text-white-50 mb-0">Reset the Password in Your Account...</p>
                </div>
            </div>
        </header>

        <div class="container1">
        	<div class="row">
        		<center>
        			<div class="col-md-8 offset-md-0">
        				<br/>
                        {% if validlink %}
	                    <h3> Change Password Confirm</h3>
	                    <form method="POST" >
	                        {% csrf_token  %}
	                        {{ form.as_p }}
	                        <button type="submit">Change Password</button>
	                    </form>
	                    {% else %}
		                <p> The Password reset link was invalid, possibly because it has been alread been used.
		                    Please request a new password reset
                        </p>
	                    {% endif %}
                    </div>
        		</center>
        	</div>
        </div>
{% endblock %}