<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .container1 {
  width:800px
}
</style>
<!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-7 fw-bolder">Password Reset Done</h3>
                    <p class="lead fw-normal text-white-50 mb-0">Reset the Password in Your Account...</p>
                </div>
            </div>
        </header>

        <div class="container1">
        	<div class="row">
        		<center>
        			<div class="col-md-8 offset-md-0">
        				<br/>
                        <p>
	                    We've emailed yoy the instructions for setting the password ....
	                    </p>
	                    <p>
	                    if you don't receive an email, please make sure you've entered the correct email and check in your spam folder
	                    </p>
                    </div>
        		</center>
        	</div>
        </div>
{% endblock %}