<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>


</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-1 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0" href="{% url 'logout' %}">
                            <i class="bi bi-file-medical"></i><span class="ms-1 d-none d-sm-inline">Logoout</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login_sidemenu' %}" class="nav-link align-middle px-0">
                            <i class="bi bi-file-lock"></i> <span class="ms-1 d-none d-sm-inline">Login</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link align-middle px-0">
                            <i class="bi bi-file-person"></i> <span class="ms-1 d-none d-sm-inline">Register</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>

                        <ul class="collapse  nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="nav-item">
                                <a href="{% url 'category' 'Deals'%}" class="nav-link active"> <span class="d-none d-sm-inline">Deals of the Day</span></a>
                            </li><br/>


                        </ul>
                    </li>

                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">

                            <li class="nav-item dropdown">
                            <a class="nav-link  active  dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Books</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'category' 'book' %}">All Books</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="{% url 'category' 'programming-books'%}">Programming Books</a></li>
                                    <li><a class="dropdown-item" href="{% url 'category' 'marketing-books'%}">Marketting Books</a></li>
                                </ul>
                            </li><br/>
                            <li class="nav-item dropdown">
                            <a class="nav-link  active  dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mobile / Accessories</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'category' 'phone' %}">All Mobile Phones</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="#">Ear Phone</a></li>
                                    <li><a class="dropdown-item" href="#">Mobile Phone BackCover</a></li>
                                </ul>
                            </li><br/>
                            <li class="nav-item dropdown">
                            <a class="nav-link  active  dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home Appliance</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">All Products</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="{% url 'category' ' '%}">Fridge</a></li>
                                    <li><a class="dropdown-item" href="{% url 'category' ' '%}">A/C Machine</a></li>
                                </ul>
                            </li><br/>
                        </ul>
                    </li>


                    {% if user.is_authenticated %}

                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Invoice and Updation of User Info.</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            {%  if user.is_superuser %}
                            {% with user_type='admin' %}
                            <li class="w-100">
                                <a href="{% url 'orders' user_type %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Invoice - Super User Orders</span></a>
                            </li>
                            {% endwith %}

                            {% with user_type='guest' %}
                            <li class="w-100">
                                <a href="{% url 'orders' user_type %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Invoice - Guest User Orders</span></a>
                            </li>
                            {% endwith %}
                            {% else %}
                            {% with user_type='user' %}
                            <li class="w-100">
                                <a href="{% url 'orders' user_type %}" class="nav-link px-0"> <span class="d-none d-sm-inline">Invoice - Orders</span></a>
                            </li>

                            <li>
                                <a href="{% url 'update_user_info' '  ' %}" class="nav-link px-0"> <span class="d-none d-sm-inline">User information</span></a>
                            </li>
                            {% endwith %}
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>

    </div>
</div>

