<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .container1 {
  width:800px
}
</style>
<!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-7 fw-bolder">Update Password</h3>
                    <p class="lead fw-normal text-white-50 mb-0">Update User Password...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        			<div class="col-md-6 offset-md-0">
        				<br/>


                        <form method="POST" action="{% url 'update_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                            <input id="user" type="hidden" class="input" name="user" value="{{ user }}">
						<input id="token" type="hidden" class="input" name="token" value="{{ token }}">
						<input id="user_id" type="hidden" class="input" name="user_id" value="{{ userid }}">
                        <br/>
                            <button type="submit" class="btn btn-outline-primary">
                            Update Password
                            </button>

                        </form>

                        <br/>
        			</div>
        	</div>
        </div>

{% endblock %}