<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<style>
    .container1 {
  width:800px
}
</style>
<!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-7 fw-bolder">Update Profile</h3>
                    <p class="lead fw-normal text-white-50 mb-0">Update User Profile...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        			<div class="col-md-6 offset-md-0">
        				<br/>
                        <form method="POST" action="{% url 'update_user' %}">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <br/><br/>
                            <button type="submit" class="btn btn-secondary">
                                Update Profile
                            </button>
                        </form>
                        <br/><br/>
                        <a href="{% url 'update_password' %}" class="btn btn-success">Update Password</a>
                        <br/>
        			</div>

        	</div>
        </div>

{% endblock %}