<!DOCTYPE html>
{% extends 'base.html' %}


{% block content %}
<style>
    .container1 {
  width:750px

}
</style>
        <!-- Header-->
        <header class="container1 bg-dark py-7">
            <div class="container1 px-2 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h3 class="display-7 fw-bolder"><strong>Billing Info </strong></h3>
                    <p class="lead fw-normal text-white-50 mb-0">Enter Your Payment Info...</p>
                </div>
            </div>
        </header>

 <div class="container1">
    <div class="row">
          <div class="col-md-8 offset-md-2">
          <div class="card">
          <div class="card-header"> <strong>
            Order Summary </strong>
          </div>
          <div class="card-body">
            {% for product in cart_products %}
                {{ product.name }}:
                    {% if product.is_sale %}
                        Rs.{{ product.sale_price }}
                    {% else %}
                        Rs.{{ product.price }}
                {% endif %}

                <br/>
                <small>Quantity:
                {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {% endif %}
                {% endfor %}</small>
                <br/><br/>

            {% endfor %}
            Total:  Rs.{{ totals }}
            <br/><br/>
            <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-primary">Update Items</a>
          </div>
        </div>
<br/><br/>
<div class="card">
  <div class="card-header"> <strong>
    Shipping Info </strong>
  </div>
  <div class="card-body">

    Name: {{ shipping_info.shipping_full_name }}<br/>
    Email: {{ shipping_info.shipping_email }}<br/>
    Phone: {{ shipping_info.shipping_phone }}<br/>
    Address 1: {{ shipping_info.shipping_address1 }}<br/>
    Address 2: {{ shipping_info.shipping_address2 }}<br/>
    City: {{ shipping_info.shipping_city }}<br/>
    State: {{ shipping_info.shipping_state }}<br/>
    Zipcode: {{ shipping_info.shipping_zipcode }}<br/>
    Country: {{ shipping_info.shipping_country }}<br/>
    <br/>
    <a href="{% url 'checkout' %}" class="btn btn-outline-primary">Update Shipping</a>

  </div>
</div>
<br/><br/>

<div class="card">
  <div class="card-header"> <strong>
    Billing Info </strong>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'process_order' %}">
      {% csrf_token %}
        {{ billing_form.as_p }}
        <button type="submit" class="btn btn-primary">
            Pay Now
        </button>
    </form>
  </div>
</div>
<br/>
<br/><br/>
 </div>
 </div>
</div>

{% endblock %}